.App {
    margin: 0;
    padding: 0;
}


/*CSS for Splash page*/

.splash {
    margin: 0;
    padding: 0;
}

.logo {
    width: 75vw;
    margin-top: 25vh;
    opacity: 1.0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fullscreen-bg__video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.centered_logo {
    text-align: center;
}


/*CSS for Signup page*/

#signup {
    margin: 10vw;
}

#signup label {
    color: white;
}


/*CSS for Login page*/

#login {
    margin: 10vw;
}

#login label {
    color: white;
}