.App{
  margin: 0;
  padding: 0
}

/*CSS for Splash page*/
.splash{
  margin: 0;
  padding: 0;
}
.logo{
  width: 80vw;
  margin: auto;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
  color: white;
  text-align: center;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.splash_container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.centered_logo{
  margin-top: 27.5vh;
  text-align: center;
}

/*CSS for Signup page*/
#signup{
  margin: 10vw;
}
#signup label{
  color: white;
}

/*CSS for Login page*/
#login{
  margin: 10vw;
}
#login label{
  color: white;
}
