.App{
  margin: 0;
  padding: 0;
}

/*CSS for Splash page*/
.splash{
  margin: 0;
  padding: 0;
}
.logo{
  width: 80vw;
  margin-top: 27.5vh;
  opacity: 1.0;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -100;
}
.hud-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0.5;
}
.centered_logo{
  text-align: center;
}

/*CSS for Signup page*/
#signup{
  margin: 10vw;
}
#signup label{
  color: white;
}

/*CSS for Login page*/
#login{
  margin: 10vw;
}
#login label{
  color: white;
}
